---
import Layout from "../layouts/main.astro";
// Component Imports
// import Button from '../components/Button.astro';
import Hero from "../components/Hero.astro";
import WhoAreWe from "../components/WhoAreWe.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Hero />
  <WhoAreWe />
  <p class="px-10 pt-10">
    This site is still under construction! If you stumble across this, please
    check back later! orz
  </p>
</Layout>
