---
import Layout from "../layouts/main.astro";
// Component Imports
// import Button from '../components/Button.astro';
import Hero from "../components/Hero.astro";
import Community from "../components/Community.astro";
import WhoAreWe from "../components/WhoAreWe.astro";
import Sponsors from "../components/Sponsors.astro";
import Navbar from "../components/Navbar.astro";
import CarouselWrapper from "../components/CarouselWrapper.astro";
import FAQ from "../components/FAQ.astro";
import CountdownAndLinks from "../components/CountdownAndLinks.astro";
import Footer from "../components/Footer.astro";
import MLH from "../components/MLHLarge.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<link as="image" href="/dotted_line_bg_ver1.svg" />
<link as="image" href="/dotted_line_bg_ver2.svg" />

<Layout>
  <div class="fixed z-50 box-content w-full sm:top-10">
    <Navbar />
  </div>
  <Hero id="Hero" />
  <div
    class="bg-[url('/dotted_line_bg_ver2.svg')] bg-[length:auto_98%] bg-[70%_10px] bg-no-repeat md:bg-[url('/dotted_line_bg_ver1.svg')] md:bg-cover md:bg-top"
  >
    <div class="hidden lg:top-0 lg:flex">
      <MLH />
    </div>
    <WhoAreWe id="WhoAreWe" />
    <Community id="Community" />
    <CarouselWrapper id="Carousel" />
    <Sponsors id="Sponsors" />
    <FAQ id="FAQ" />
    <CountdownAndLinks id="CountdownAndLinks" />
  </div>
  <Footer />
</Layout>
