---
import Layout from "../layouts/main.astro";
// Component Imports
// import Button from '../components/Button.astro';
import Hero from "../components/Hero.astro";
import Sponsors from "../components/Sponsors.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Hero />
  <p class="px-10 pt-10">
    This site is still under construction! If you stumble across this, please
    check back later! orz
  </p>
  <div class="w-full flex flex-col items-center bg-[#19333A]">
    <Sponsors />
  </div>
</Layout>
