---
import Layout from "../layouts/main.astro";
// Component Imports
// import Button from '../components/Button.astro';
import Hero from "../components/Hero.astro";
import WhoAreWe from "../components/WhoAreWe.astro";
import Sponsors from "../components/Sponsors.astro";
import CarouselWrapper from "../components/CarouselWrapper.astro";
import FAQ from "../components/FAQ.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Hero />
  <WhoAreWe />
  <CarouselWrapper />
  <div class="flex w-full flex-col items-center">
    <Sponsors />
    <FAQ />
  </div>
</Layout>
