---
import Layout from "../layouts/main.astro";
// Component Imports
// import Button from '../components/Button.astro';
import Hero from "../components/Hero.astro";
import Community from "../components/Community.astro";
import WhoAreWe from "../components/WhoAreWe.astro";
import Sponsors from "../components/Sponsors.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Hero />
  <WhoAreWe />
  <div class="pt-10">
    <Community />
  </div>
  <div class="flex w-full flex-col items-center">
    <Sponsors />
  </div>
</Layout>
