---
// Component Imports
// import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
    <meta
      name="description"
      content="A template page for Astro and TailwindCSS"
    />
  </head>

  <body>
    <p>Hello World!</p>
  </body>
</html>
