---
import type { ReactImageGalleryItem } from "react-image-gallery";
import { Carousel } from "./react/Carousel.tsx";

import { getImage } from "astro:assets";

import DSC01770 from "../assets/carousel/DSC01770.jpeg";
import DSC01792 from "../assets/carousel/DSC01792.jpeg";
import DSC01805 from "../assets/carousel/DSC01805.jpeg";
import DSCF1862 from "../assets/carousel/DSCF1862.jpeg";
import DSCF1873 from "../assets/carousel/DSCF1873.jpeg";
import DSCF1890 from "../assets/carousel/DSCF1890.jpeg";
import DSCF1901 from "../assets/carousel/DSCF1901.jpeg";
import DSCF2187 from "../assets/carousel/DSCF2187.jpeg";
import DSCF2207 from "../assets/carousel/DSCF2207.jpeg";

const { id } = Astro.props;

const images: ReactImageGalleryItem[] = await Promise.all(
  [
    {
      image: DSC01770,
      originalAlt: "DSC01770",
    },
    {
      image: DSC01792,
      originalAlt: "DSC01792",
    },
    {
      image: DSC01805,
      originalAlt: "DSC01805",
    },
    {
      image: DSCF1862,
      originalAlt: "DSCF1862",
    },
    {
      image: DSCF1873,
      originalAlt: "DSCF1873",
    },
    {
      image: DSCF1890,
      originalAlt: "DSCF1890",
    },
    {
      image: DSCF1901,
      originalAlt: "DSCF1901",
    },
    {
      image: DSCF2187,
      originalAlt: "DSCF2187",
    },
    {
      image: DSCF2207,
      originalAlt: "DSCF2207",
    },
  ].map(async (image) => {
    const img = await getImage({ src: image.image });

    return {
      ...image,
      original: img.src,
      originalHeight: img.attributes.height,
      originalWidth: img.attributes.width,
    };
  }),
);
---

<div id={id} class="mb-10">
  <h2 class="mb-10 text-center font-display text-6xl font-bold text-dh-red">
    <span
      class="block text-4xl text-fill-transparent text-stroke-white text-stroke-2 md:inline md:text-6xl"
    >
      TOAST TO
    </span>
     ONE DECADE
  </h2>
  <div class="px-7">
    <Carousel client:visible images={images} />
  </div>
</div>
