---
import { Image } from "astro:assets";
import Coin2_orange_shiny from "../assets/Coin2_orange_shiny.svg";
---

<div
  class="m-auto flex min-h-screen max-w-6xl flex-col justify-center py-4 lg:p-6"
>
  <div class="mx-auto grid grid-flow-row gap-2 text-center font-display">
    <p class="text-xl font-extrabold text-white md:text-2xl">
      Come to DeltaHacks X to
    </p>
    <h1 class="leading-none">
      <div
        class="text-4xl font-black text-fill-transparent text-stroke-white text-stroke-2 md:text-6xl"
      >
        JOIN A GROWING
      </div>
      <div class="text-[52px] font-bold text-yellow-400 md:text-7xl">
        COMMUNITY
      </div>
    </h1>
  </div>

  <!-- Coins -->
  <div
    class="relative h-full w-full content-center py-10 lg:max-w-6xl lg:px-0 lg:py-5"
  >
    <div
      class="mx-auto grid w-fit grid-cols-1 items-center lg:w-full lg:grid-cols-4 lg:items-start lg:justify-items-center"
    >
      <!-- coin 1 -->
      <!-- translate -->
      <div class="z-50 pr-14 lg:pr-0">
        <!-- rotate -->
        <div class="-rotate-[15deg]">
          <!-- container with coin + text -->
          <div class="relative w-[250px]">
            <Image
              src={Coin2_orange_shiny}
              alt="800 Hackers"
              class="w-full drop-shadow-[0_75px_30px_rgba(0,0,0,0.3)]"
            />
            <div
              class="absolute top-0 flex h-full w-full flex-col items-center justify-center text-center"
            >
              <div class="text-7xl font-bold">800</div>
              <div class="text-3xl font-bold">HACKERS</div>
            </div>
          </div>
        </div>
      </div>

      <!-- coin 2 -->
      <!-- translate -->
      <div class="z-40 pl-[80px] lg:pl-0 lg:pt-20">
        <!-- rotate -->
        <div class="rotate-[9.3deg]">
          <!-- container with coin + text -->
          <div class="relative w-[250px]">
            <Image
              src={Coin2_orange_shiny}
              alt="800 Hackers"
              class="w-full drop-shadow-[0_75px_30px_rgba(0,0,0,0.3)]"
            />
            <div
              class="absolute top-0 flex h-full w-full flex-col items-center justify-center text-center"
            >
              <div class="text-7xl font-bold">200</div>
              <div class="text-3xl font-bold">PROJECTS</div>
            </div>
          </div>
        </div>
      </div>

      <!-- coin 3 -->
      <!-- translate -->
      <div class="z-30 pl-6 lg:pl-0 lg:pt-10">
        <!-- rotate -->
        <div class="rotate-[4.8deg]">
          <!-- container with coin + text -->
          <div class="relative w-[250px]">
            <Image
              src={Coin2_orange_shiny}
              alt="800 Hackers"
              class="w-full drop-shadow-[0_75px_30px_rgba(0,0,0,0.3)]"
            />
            <div
              class="absolute top-0 flex h-full w-full flex-col items-center justify-center text-center"
            >
              <div class="text-7xl font-bold">300</div>
              <div class="text-3xl font-bold">COMMITS</div>
            </div>
          </div>
        </div>
      </div>

      <!-- coin 4 -->
      <!-- translate -->
      <div class="z-20 pl-20 lg:pl-0 lg:pt-20">
        <!-- rotate -->
        <div class="-rotate-[15.45deg]">
          <!-- container with coin + text -->
          <div class="relative w-[250px]">
            <Image
              src={Coin2_orange_shiny}
              alt="800 Hackers"
              class="w-full drop-shadow-[0_75px_30px_rgba(0,0,0,0.3)]"
            />
            <div
              class="absolute top-0 flex h-full w-full flex-col items-center justify-center text-center"
            >
              <div class="text-7xl font-bold">55</div>
              <div class="text-3xl font-bold">MENTORS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
