---
import { Image } from "astro:assets";
import Coin2_orange_shiny from "../assets/Coin2_orange_shiny.svg";
---

<div class="mx-auto max-w-lg text-center">
  <p class="font-extrabold text-white">Come to DeltaHacks X to</p>
  <h1
    class="text-4xl font-bold font-display text-fill-transparent text-stroke-white text-stroke-2"
  >
    JOIN A GROWING
  </h1>
  <h1 class="text-5xl font-bold text-yellow-500">COMMUNITY</h1>
  <Image src={Coin2_orange_shiny} alt="Orange coin with a stat on it" />;
</div>
