---
import { Image } from "astro:assets";
import chestAsset from "../assets/treasure-chest.svg";

// ----- countdown -----
import dayjs from "dayjs";
import { Counter } from "./Counter";
const end = dayjs(new Date("2023-10-20 23:59:59")); // temporary deadline for testing

// ----- links -----
const links: Array<{
  text: string;
  link: string;
}> = [
  {
    text: "Code of Conduct",
    link: "https://static.mlh.io/docs/mlh-code-of-conduct.pdf",
  },
  {
    text: "Travel Guidlines",
    link: "/",
  },
  {
    text: "GitHub",
    link: "https://github.com/deltahacks",
  },
  {
    text: "Instagram",
    link: "https://www.instagram.com/deltahacks/",
  },
  {
    text: "Discord",
    link: "/",
  },
  {
    text: "LinkedIn",
    link: "https://www.linkedin.com/company/deltahacks/",
  },
];
---

<div
  class="mx-auto flex h-fit min-h-screen max-w-6xl flex-col justify-center p-6 font-display"
>
  <div
    class="grid grid-cols-1 lg:-mb-24 lg:grid-cols-3 lg:grid-rows-2 lg:gap-y-6"
  >
    <Counter client:only="react" endTime={end.unix()} />

    <div class="mx-auto p-10 md:row-span-2 md:px-5 lg:py-0">
      <Image src={chestAsset} alt="Treasure Chest" class="w-64 lg:w-[360px]" />
    </div>

    <div
      class="grid grid-flow-col grid-rows-3 gap-y-2 md:col-span-2 md:auto-rows-min md:grid-rows-2 md:gap-x-5 md:px-10 lg:px-0 lg:pb-28 lg:pr-14"
    >
      {
        links.map(({ text, link }) => (
          <div class="whitespace-nowrap text-xl underline underline-offset-4">
            <a href={link}>{text}</a>
          </div>
        ))
      }
    </div>
  </div>
</div>
