<div class="container flex max-w-3xl flex-col items-center text-white">
  <h1 class="mb-10 text-center font-display text-6xl font-bold">
    <span class="text-fill-transparent text-stroke-white text-stroke-2"
      >GOT
    </span>
     QUESTIONS?
  </h1>
</div>
