---
import Question from "./Question";

const questions: Array<{
  question: string;
  answer: string;
}> = [
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
  {
    question: "Quis autem vel eum iure reprehenderit?",
    answer:
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.",
  },
];
---

<div
  class="container mx-auto flex h-fit min-h-screen max-w-3xl flex-col items-center justify-center p-6 text-white lg:max-w-6xl"
>
  <h2
    class="mb-10 text-center font-display text-[52px] font-bold leading-none lg:text-[80px]"
  >
    <span class="text-fill-transparent text-stroke-white text-stroke-2"
      >GOT
    </span>
     QUESTIONS?
  </h2>
  <div class="grid w-full gap-4 md:grid-cols-2">
    {
      questions.map(({ question, answer }) => (
        <Question question={question} answer={answer} client:load />
      ))
    }
  </div>
</div>
