<div class="mx-auto max-w-lg text-center">
    <p class = "font-extrabold">Come to DeltaHacks X to</p>
    <!-- Change the JOIN A GROWING community text to the wire frame -->
    <h1 class="text-4xl font-bold">JOIN A GROWING</h1>
    <h1 class="text-5xl font-bold">COMMUNITY</h1>
  </div>