<div
  class="mx-auto flex h-screen max-w-lg flex-col justify-between bg-blue-200 p-4 pt-24"
>
  <div>
    <h1 class="text-5xl font-extrabold tracking-tight">
      DELTAHACKS<span class="text-rose-600">X</span>
    </h1>
    <!-- RGBA(231, 34, 80, 1) -->
    <h3 class="text-xl font-semibold leading-6 tracking-tight text-cyan-900">
      The annual hackathon for change, taking place at McMaster University from
      January 13 to 15, 2024.
    </h3>
  </div>

  <!-- RGBA(19, 77, 84, 1) -->
  <div class="flex w-full flex-col gap-4 text-center text-xl font-semibold">
    <div class="bg-white py-6 text-black">
      <a href="https://portal.deltahacks.com/" class="w-full text-center">
        VIEW SCHEDULE</a
      >
    </div>
    <div class="bg-rose-600 py-6">
      <a href="https://portal.deltahacks.com/" class="w-full text-center">
        APPLY TO ATTEND</a
      >
    </div>
  </div>
</div>
