<div class="mx-auto max-w-lg">
    <h1 class="text-6xl">make a difference</h1>

    <div class="flex flex-wrap p-4 gap-4">
        <p class="text-sm">
            At DeltaHacks, we believe change comes from dreaming big.
            Each year we enable over 500 students from across North America, working hard over 36 hours, to bring their big ideas to life.
            
            Our team works diligently year round to provide a welcoming
            atmosphere to all of our participants. DeltaHacks gives you
            the platform to make an idea reality, whether it be with a team, or on your own.
            
            Unleash your creativity and make something great, we'll handle the rest! Make big ideas reality at
            DeltaHacks 10!
        </p>
        
        <p class="text-sm">
            DeltaHacks is the annual hackathon for change, it's even in the name!

            The primary focus of DeltaHacks is to enable hackers from all over to make a positive change in any field! We work with McMaster University to welcome hackers of all levels from the novice to the most experienced! 

            We supply the food, venue, and workshops to provide even the most seasoned veterans with new experiences.
            Now in our 10th year running, DeltaHacks 10 is our biggest and best DeltaHacks yet, 
        </p>
    </div>

    <h2 class="text-4xl font-semibold p-4">
        Join us this January and take part in an experience you won't forget!
    </h2>
  </div>