---
import { Image } from "astro:assets";
---

<div
  class="mx-6 flex max-w-6xl items-center justify-between bg-[#19333A] bg-opacity-40 px-6 py-5 backdrop-blur-xl md:px-8 xl:mx-auto"
>
  <a href="#Hero" class="">
    <Image width="24" height="24" class="h-6" src="/nav_logo.svg" alt="logo" />
  </a>
  <div
    class="hidden w-full max-w-lg justify-between px-12 text-xl text-white md:flex md:text-base lg:px-0"
  >
    <a href="#WhoAreWe">About</a>
    <a href="#Community">Statistics</a>
    <a href="/">Past Events</a>
    <a href="#Sponsers">Sponsors</a>
    <a href="#FAQ">FAQ</a>
    <a href="#CountdownAndLinks">Links</a>
  </div>
  <div class="hidden md:flex md:items-center md:gap-4">
    <a href="https://www.linkedin.com/company/deltahacks/mycompany/"
      ><Image
        class=""
        width="24"
        height="24"
        src="/nav_linkedin.svg"
        alt="logo"
      /></a
    >
    <a href="https://www.instagram.com/deltahacks">
      <Image
        class=""
        width="24"
        height="24"
        src="/nav_insta.svg"
        alt="Instagram"
      /></a
    >
    <a href="https://twitter.com/deltaHacks"
      ><Image
        class=""
        width="24"
        height="24"
        src="/nav_twitter.svg"
        alt="Twitter"
      /></a
    >
  </div>
  <div class="md:hidden">
    <Image width="24" height="24" src="/nav_sizing.svg" alt="NAV" />
  </div>
</div>
