---
import { Image } from "astro:assets";
import mapAsset from "../assets/map 2.svg";
import compassAsset from "../assets/compass.svg";
---

<div
  class="mx-auto flex h-fit min-h-screen max-w-6xl flex-col justify-center p-6 font-display"
>
  <div class="z-0 mb-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div class="mx-auto my-auto w-72 translate-y-2 scale-100 md:scale-125">
      <Image
        src={mapAsset}
        alt="Map"
        class="-translate-x-4 -rotate-[79.08deg] scale-x-[0.6] scale-y-75"
      />
      <Image
        src={compassAsset}
        alt="Compass"
        class="absolute left-0 top-0 translate-x-28 translate-y-14 scale-x-[1.5] scale-y-[1.35]"
      />
    </div>
    <h1
      class="z-10 text-5xl font-bold md:order-first md:text-[150px] md:leading-[0.8] lg:col-span-2"
    >
      <span class="md:block"> WHO</span>
      <span
        class="whitespace-nowrap text-fill-transparent text-stroke-white text-stroke-2 md:whitespace-normal"
      >
        ARE WE?
      </span>
    </h1>
  </div>

  <div class="columns-1 space-y-6 text-xl md:columns-2">
    <p>
      DeltaHacks is the annual hackathon for change. Each year, we enable over
      500 students from across North America, working hard over 36 hours, to
      bring their ideas to life and make a positive change in any field.
    </p>
    <p>
      We work with McMaster University to bring in hackers of all levels, from
      the novice to the most experienced. Our team works diligently year round
      to provide a welcoming atmosphere to all of our participants.
    </p>
    <p>
      We supply the food, venue, and workshops, making sure even the most
      seasoned veterans get the chance to have new experiences. Whether with a
      team or on your own, you'll get the platform to make your visions a
      reality.
    </p>
    <p>
      Now in our 10th year running, DeltaHacks X is our biggest and best event
      yet. Unleash your creativity and make something great—we'll handle the
      rest!
    </p>
  </div>
</div>
