---
import "@fontsource-variable/inter";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/700.css";
---

<html lang="en">
  <head>
    {
      import.meta.env.ANALYTICS && (
        <>
          <script
            type="text/partytown"
            src="https://www.googletagmanager.com/gtag/js?id=G-LZ04W4C9XR"
          />
          <script type="text/partytown">
            window.dataLayer = window.dataLayer || []; function gtag()
            {dataLayer.push(arguments)}
            gtag("js", new Date()); gtag("config", "G-LZ04W4C9XR");
          </script>
        </>
      )
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DeltaHacks 10</title>
    <meta
      name="description"
      content="A landing page for McMaster's annual hackathon for change"
    />
    <style is:global>
      /* smooth scrolling */
      html {
        scroll-behavior: smooth;
      }
    </style></head
  >

  <body class="bg-[#19333A] text-white">
    <slot />
  </body>
</html>
